<head>
    <style>
      /* Prevents slides from flashing */
      #slides {
        display:none;
      }
    </style>
    <link rel="stylesheet" href="css/flipclock.css">
    <link rel="stylesheet" href="css/jquery.bxslider.css">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap-theme.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
    <script src="js/flipclock.min.js"></script>
    <script src="js/jquery.bxslider.min.js"></script>
    <script src="js/jquery.progressTimer.min.js"></script>
    <script src="js/slideshow.js"></script>

    <script>
      $(document).ready(function() {
          $('#clock').hide();
          $('#restart').hide();
      });
    </script>
</head>
<div id="clock" align="center">
  Slides will start in...
  <div class="clock" align="center" style="display: flex;justify-content: center"></div>
</div>
<div id="intro" style="margin: 20px">
  Ever want to practice your improv skills and your presentation skills? The rando-pk is the tool for you.
  <br/>
  <br/>
  The rules of a pecha kucha is simple:
  <br/>
  <br/>
  <blockquote cite="http://www.pechakucha.org/faq">
    PechaKucha 20x20 is a simple presentation format where you show 20 images, each for 20 seconds. The images advance automatically and you talk along to the images.
  </blockquote>
  Here is the twist: <span style="font-weight: bold">everything</span> is random; from the images to the title. Now...
  <br/>
  <input id="start" type="button" onclick="$('#start').hide();$('#intro').hide();launchIntoFullscreen(document.documentElement);$('#clock').show();init();" value="Let the fun begin!"/>
</div>
<input id="restart" type="button" value="restart" onclick="location.reload(true);"/>
<div id="slides" class="slideshow">
  <ul class="bxslider">
  <% @slides_list.each_with_index do |slide_url,index| %>
    <li align="center" style="display: flex;justify-content: center"><img src="<%= slide_url %>"/></li>
  <% end %>
  <li align="center" style="display: flex;justify-content: center"><img src="img/slides/slide_thankyou.jpg"/></li>
  </ul>
  <div align="right" style="margin-right: 30px">All images are taken from <a href="https://commons.wikimedia.org">https://commons.wikimedia.org</a></div>
</div>
<div id="progressTimer" class="footer"></div>
